@import "../var";
@import "../fonts";

.admin {
    display: flex;
    .admin-head {
        position: fixed;
        height: 100vh;
        min-width: 200px;
        padding: 20px 0;
        background: #f4f4f5;
        box-shadow: 0 0 15px 0 black;

        .slide {
            display: block;
            height: 35px;
            padding: 6px;
            margin-bottom: 2px;
            cursor: pointer;
            text-decoration: none;

            i {
                min-width: 20px;
                margin: 0 3px 0 0;
            }
        }

        .active {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 24px;
                height: 24px;
                transform: rotate(45deg);
                background-color: $grass;
                top: 5px;
                right: -12px;
                z-index: -1;
            }
        }
    }

    .admin-body {
        padding: 0 20px;
        margin-left: 220px;

        table {
            margin: auto;
            border-collapse: collapse;

            tr:nth-child(even) {
                background: $dust;
            }

            td {
                height: 60px;
                border: 1px solid grey;
                padding: 4px;
                text-align: center;
            }
        }

        .btn {
            width: 115px;
            height: 40px;
            margin: 20px;
            background: $brand;
            color: $snow;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }

        .page-esc {
            width: 200px;
            height: 250px;
            margin: 20px;
            border: 3px solid $brand;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 2px 2px 5px 0;
            position: relative;
            top: 0;
            left: 0;
            transition: all ease .2s;

            .title {
                font-size: 14px;
                padding: 8px;
                color: $brand;
            }
            .text {
                font-size: 10px;
            }

            &:hover {
               box-shadow: 5px 5px 5px 0;
               top: -2px;
               left: -2px;
            }
        }
    }

    .new-form {
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid grey;
        left: 0;
        margin: auto;
        padding: 20px;
        width: 500px;
        background: white;

        .close {
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
        }
    }
}