@import "../var";
@import "../fonts";

.admin {
    .admin-head {
        display: flex;
        justify-content: center;

        .slide {
            text-align: center;
            padding: 10px 20px;
            margin-right: 2px;
        }
    }

    .admin-body {
        padding: 20px;
        table {
            margin: auto;

            tr:nth-child(even) {
                background: $dust;
            }
        }

        .btn {
            width: 115px;
            height: 40px;
            margin: 20px auto;
            background: $brand;
            color: $snow;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
    }

    .new-form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 20px;
        width: 500px;
        background: white;
    }
}