@import "../var";
@import "../fonts";

.admin {
    display: flex;
    .admin-head {
        position: fixed;
        height: 100vh;
        min-width: 200px;
        padding: 20px 0;
        background: #f4f4f5;
        box-shadow: 0 0 15px 0 black;

        .slide {
            height: 35px;
            text-align: center;
            padding: 6px;
            margin-bottom: 2px;
            cursor: pointer;
        }

        .active {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 24px;
                height: 24px;
                transform: rotate(45deg);
                background-color: $grass;
                top: 5px;
                right: -12px;
                z-index: -1;
            }
        }
    }

    .admin-body {
        padding: 0 20px;
        margin-left: 220px;

        table {
            margin: auto;
            border-collapse: collapse;

            tr:nth-child(even) {
                background: $dust;
            }

            td {
                height: 60px;
                border: 1px solid grey;
                padding: 4px;
                text-align: center;
            }
        }

        .btn {
            width: 115px;
            height: 40px;
            margin: 20px;
            background: $brand;
            color: $snow;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
    }

    .new-form {
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid grey;
        left: 0;
        margin: auto;
        padding: 20px;
        width: 500px;
        background: white;

        .close {
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
        }
    }
}