@import "../var";
@import "../mixin";

.withbanner-page {
    display: flex;

    .content-block {
        
        .item {
            display: flex;
            height: 300px;
            margin-bottom: 40px;
            .image {
                width: 300px;
                background-size: cover;
                background-position: center;

                @media screen and (max-width: 600px){
                    width: 150px;
                    height: 150px;
                    margin-top: 40px;
                }
            }
            .text {
                flex-basis: 300px;
                flex-grow: 1;
                padding: 20px;
                .title {
                    padding: 20px 0;
                    text-transform: uppercase;
                    color: $brand;
                }
                .date {
                    font-size: 14px;
                    color: $brand;
                }
                .description {
                    font-size: 16px;
                    padding: 20px 0;
                    color: black;
                    word-break: break-all;
                    max-height: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .link {
                    display: block;
                    padding: 20px 0;
                    color: $brand;
                }
            }
        }

        .single-article {
            .image {
                height: 300px;
                overflow: hidden;
                margin-bottom: 50px;

                &>img {
                    height: 100%;
                    margin: auto;
                    display: block;
                }
            }
            .title {
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 20px;
            }
            .date {
                margin-bottom: 20px;
                font-size: 13px;
            }
        }

        .share-block {
            display: flex;
            height: 50px;
            margin-bottom: 40px;
            &>a {
                flex-grow: 1;
                color: $snow;
                text-decoration: none;
                text-align: center;
                line-height: 50px;
                font-size: 25px;
            }
        }

        .use-info-title {
            text-transform: uppercase;
        }
        .use-info {
            display: flex;
            justify-content: center;

            .info-item {
                width: 166px;
                height: 170px;
                position: relative;
                margin: 15px;

                &>img {
                    width: 100%;
                }

                .subs {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 0;
                    left: 0;
                    padding: 5px;
                    width: 100%;
                    height: 97%;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $snow;
                    font-size: 14px;
                    //background: $brand;
                }
            }
        }
    }

    .banner{
        display: block;

        .new {
            display: block;
            margin-bottom: 20px;
            text-decoration: none;
            .image {
                width: 100px;
                float: left;
                margin-right: 10px;
            }
            .text {
                font-size: 12px;
                .title {
                    font-size: 18px;
                }
                .date, .date>i {
                    color: #d8d5d5;
                }
            }
        }
    }
}
