@import "../var";
@import "../mixin";

.categories {

    padding: 20px;

    .category-block {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: grey;
        padding: 20px;

        .list {
            flex-basis: 200px;
            flex-grow: 1;
            margin-right: 20px;
            background-color: $snow;

            .item {
                padding: 10px 20px;
            }
        }

        .grid {
            flex-grow: 20;
            max-width: 1200px;

            .grid-head {
                padding: 20px 0;
                color: $snow;
                font-size: 25px;
                text-transform: uppercase;
            }

            .grid-params {
                background: $snow;
                padding: 10px;
            }

            .grid-items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .grid-item {
                    width: 270px;
                    min-height: 320px;
                    margin: 20px 0;
                    padding: 10px;
                    background: $snow;

                    img {
                        width: 100%;
                        min-height: 187px;
                    }

                    .title {
                        padding: 5px;
                        text-align: center;
                        color: black;
                    }

                    .price {
                        padding: 10px;
                        text-align: center;
                        color: $cherry;
                    }

                    .btn {
                        display: block;
                        text-decoration: none;
                        text-align: center;
                        color: blue;
                        border: 2px solid;
                        height: 40px;
                        line-height: 37px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }
        }

    }
}