@import "../var";

.contacts {

    .send-form, .content-section {
        width: 60%;
        margin: 20px auto !important;

        .addr {
            position: relative;
            display: flex;
            align-items: center;
            margin: 10px;
            padding-left: 30px;

            &>i {
                position: absolute;
                left: 0;
                font-size: 20px;
            }

            span {
                color: $sky;
            }
        }

        h2 {
            text-align: center;
        }

        .contacts-list {
            display: flex;

            .cen {
                margin: 0 20px;
            }

            @media screen and (max-width: 850px) {
                display: block;
                .cen {
                    margin: auto;
                }
            }
        }

        input, textarea {
            width: 100%;
            height: 20px;
            padding: 15px;
            margin: 10px 0;
            font-style: italic;
        }

        textarea {
            height: 150px;
        }
    }

    .btn {
        color: $snow;
        cursor: pointer;
        user-select: none;
        background: $brand;
        height: 50px;
        width: 150px;
        text-align: center;
        line-height: 50px;
        font-size: 21px;
        margin: 5px auto;
    }
}