    .gallery {
        .lib {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .gallery-item {
                width: 300px;
                margin-bottom: 10px;
                max-height: 200px;
                overflow: hidden;
                cursor: pointer;
            }
        }

        .screen {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999;
            background-color: rgba(0,0,0,.5);
            display: flex;
            justify-content: space-around;
            align-items: center;


            .close {
                position: absolute;
                top: 20px;
                right: 50px;
                color: #fff;
                font-size: 30px;
                cursor: pointer;
            }

            .arr {
                position: absolute;
                color: #fff;
                font-size: 50px;
                cursor: pointer;
            }

            .left {
                left: 50px;
            }

            .right {
                right: 50px;
            }

            &>img {
                width: 60%;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }