@import "../var";
@import "../mixin";

$h: calc(50vh - 80px);

.main {
    .logo-mob {
        display: none;
        @media screen and (max-width: 860px){
            display: block;
            width: 85%;
            margin: auto;
        }
    }

    .slider {
        min-height: $h;
    }

    .inf-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: $h;
        padding: 50px 0;

        .inf-ico {
            flex: 1;
            text-align: center;
            // box-shadow: 0px 8px 22px -7px grey;

            .ico {
                color: $cherry;
                border: 1px solid rgba(206, 88, 25, 0.6);
                border-radius: 100%;
                width: 100px;
                height: 100px;
                line-height: 98px;
                font-size: 62px;
                margin-bottom: 15px;
            }

            .lable {
                text-align: center;
                color: $main;
                font-weight: bold;
                padding: 2px;
            }
        }

        @media screen and (max-width: 670px) {
            flex-direction: column;

            .inf-ico {
                flex-direction: column;
                padding: 20px;
            }
        }
    }

    .goods-banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: $h;
        padding: 30px 0;
        .good-item {
            position: relative;
            height: 200px;
            width: 30%;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-decoration: none;

            .good-item-inner {
                position: absolute;
                height: 200px;
                width: 100%;
                top: 125px;
                background: rgba(0,0,0,0);
                color: $snow;
                font-weight: bold;
                padding: 20px;
                font-size: 22px;
                transition: all ease .5s;

                .btn {
                    background: $brand;
                    color: $snow;
                    width: 150px;
                    height: 45px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 45px;
                    margin: 40px 0;
                    opacity: 0;
                    transition: all ease 1s;
                }
            }

            &:hover {
                .good-item-inner {
                    top: 0;
                    font-size: 27px;
                    background: rgba(0,0,0,.5);

                    .btn {
                        opacity: 1;
                    }
                }
            }
        }

        @media screen and (max-width: 670px) {
            flex-direction: column;
            align-items: center;

            .good-item {
                width: 90%;
                margin: 10px;
            }
        }
    }

    .vereteno {
        min-height: $h;
        padding: 20px 0;
        h3 {
            text-align: center;     
            padding: 20px;
        }
        .vereteno-inner {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 300px;
            padding: 20px 0;

            .arr {
                font-size: 45px;
                position: absolute;
                z-index: 100;
                color: $cherry;
                cursor: pointer;
            }

            .left {
                left: 5px;
            }

            .right {
                right: 5px;
            }

            .item {
                position: relative;
                flex: 1;
                min-height: 300px;
                min-width: 200px;
                overflow: hidden;
                margin: 0 20px;
                text-align: center;
                padding: 20px;

                img {
                    height: 150px;
                }
            }
        }
    }

    .news {
        min-height: calc(100vh - 161px);
        padding: 20px 0;

        $newh: 600px;
        $newh5: 300px;

        .btn {
            background: $cherry;
            height: 40px;
            width: 200px;
            margin: 50px auto;
            line-height: 40px;
            color: $snow;
            text-align: center;
            cursor: pointer;
        }

        &.inner-wrapper {
            min-height: 400px;

            .pos-wrap {
                display: flex;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                .pos-left, .pos-right {
                    overflow: hidden;
                    height: $newh;
                    margin: 0 4px;
                    .item {
                        position: relative;
                        display: block;
                        width: 100%;
                        background-size: cover;
                        transition: all ease .3s;
                        .title {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            padding: 10px;
                            background: rgb(255, 255, 255);
                            color: $main;
                            text-transform: uppercase;
                            min-height: 55px;

                            .date {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .pos-left {
                width: 65%;
                .item {
                    height: $newh;
                }
            }

            .pos-right {
                width: 35%;
                .item {
                    height: $newh5;

                    .title {
                        padding: 5px;
                        font-size: 15px;

                        .date {
                            font-size: 10px;
                        }
                    }
                }
            }

            @media screen and (max-width: 540px) {
                .pos-wrap {
                    flex-direction: column;
                    &:nth-child(even) {
                        flex-direction: column;
                    }
    
                    .pos-left, .pos-right {
                        width: 100%;
                    }
       
                    .pos-right {
                        height: 800px;
                        .item {
                            height: 400px;
                        }
                    }
                }
            }
        }
    }

    .content-section {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &.rev {
            flex-direction: row-reverse;
            text-align: right;
        }

        .ico {
            height: 100px;
            width: 100px;
            margin: 0 10px;
            border-radius: 100%;
            border: 5px solid;
            text-align: center;
            line-height: 93px;
            font-size: 40px;
            flex-basis: 100px;
        }

        .text {
            flex-basis: 500px;

            .title {
                font-weight: 600;
                margin: 10px;
            }
            .desc {
                margin: 0 10px;
            }
        }
    }

    @media screen and (max-width:  1024px) {
        .slider {
            display: none;
        }
    }

}