@import "../var";
@import "../mixin";

.main {

    .inf-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;

        .inf-ico {
            flex: 1;
            text-align: center;
            box-shadow: 0px 8px 22px -7px grey;

            .ico {
                color: $cherry;
                border: 1px solid rgba(206, 88, 25, .6);
                border-radius: 100%;
                width: 50px;
                height: 50px;
                line-height: 48px;
            }

            .lable {
                text-align: center;
                color: $d-main;
                font-weight: bold;
                padding: 2px;
            }
        }
    }

    .content-section {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &.rev {
            flex-direction: row-reverse;
            text-align: right;
        }

        .ico {
            height: 100px;
            width: 100px;
            margin: 0 10px;
            border-radius: 100%;
            border: 5px solid;
            text-align: center;
            line-height: 93px;
            font-size: 40px;
            flex-basis: 100px;
        }

        .text {
            flex-basis: 500px;

            .title {
                font-weight: 600;
                margin: 10px;
            }
            .desc {
                margin: 0 10px;
            }
        }
    }

    @media screen and (max-width:  1024px) {
        .slider {
            display: none;
        }
    }

}