@import '../var.scss';

.productpage {

    .content-block {
        max-width: 1000px;
        margin: auto;
        .card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            //margin-bottom: 75px;

            .image {
                //width: 50%;
                overflow: hidden;
                text-align: center;

                & > img {
                    height: 250px;
                }

                & > p {
                    font-size: 20px;
                    color: $cherry;
                }
            }

            .short-info {
                max-width: 50%;
                padding: 80px 0 0;
                text-align: center;

                .title {
                    font-weight: bold;
                    padding: 10px;
                }
                .devider {
                    width: 50px;
                    margin: 0 auto;
                    background: $brand;
                    height: 2px;
                    border: none;
                }
                .hz {
                    padding: 10px;
                    font-size: 14px;
                }

                @media screen and (max-width: 750px) {
                    padding: 0;
                }
            }
        }
        .full-info {
            .info-row {
                display: flex;
                height: 50px;
                margin: 7px 0;
                line-height: 50px;

                .key {
                    width: 50%;
                }
                .val {
                    width: 50%;
                    padding: 0 10px;
                    text-align: right;
                }
            }
        }
    }
    .contact-us {
        height: 250px;
        background-image: url('/img/plug/fon_tel.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;


        .bgc {
            position: absolute;
            height: 250px;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,.5);

            .title {
                width: 420px;
                margin-right: 50px;
                h3 {
                    color: $snow;
                    font-size: 25px;
                    padding: 18px 0;
                    text-transform: uppercase;
                }
                p {
                    font-size: 16px;
                    color: $dust;
                }
            }
            .form {
                width: 472px;
                height: 46px;
                display: flex;

                input {
                    height: 46px;
                    width: 50%;
                    padding: 10px;
                    font-style: italic;
                }

                .btn {
                    border: 2px solid;
                    text-align: center;
                    line-height: 46px;
                    font-size: 16px;
                    padding: 0 14px;
                    cursor: pointer;

                    &:hover {
                        background: rgba(255,255,255,.1);
                    }
                }

                @media screen and (max-width: 750px){
                    flex-direction: column;
                    align-items: center;
                }   
            }
        }
    }

    .vereteno {
        padding: 20px 0;
        h3 {
            padding: 20px;
            width: 90%;
            border-bottom: 1px solid #cacaca;
            margin: 0 auto;
            text-transform: uppercase;
        }
        .vereteno-inner {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 300px;
            padding: 20px 0;

            .arr {
                font-size: 45px;
                position: absolute;
                z-index: 100;
                color: $cherry;
                cursor: pointer;
            }

            .left {
                left: 5px;
            }

            .right {
                right: 5px;
            }

            .item {
                position: relative;
                flex: 1;
                min-height: 300px;
                min-width: 200px;
                overflow: hidden;
                margin: 0 20px;
                text-align: center;
                padding: 20px;

                img {
                    height: 150px;
                }
            }
        }
    }

    .popup {
        .input-field {
            display: block;
            width: 80%;
            margin: 20px auto;
            padding: 10px;
            font-style: italic;
        }
    }
}