@import "../var";
@import "../mixin";

.callback {
    width: 350px;
    background: $brand;
    padding: 10px;
    cursor: pointer;
    color: white;

    &>i {
        background: white;
        color: $cherry;
        padding: 10px;
        border-radius: 100%;
        margin: 0 10px;
    }
}

.input-field {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-style: italic;
}


.btn {
    background: $cherry;
    height: 40px;
    width: 200px;
    margin: 10px auto;
    line-height: 40px;
    color: $snow;
    text-align: center;
    cursor: pointer;
}