@import "../var";
@import "../mixin";

$h: calc(50vh - 80px);

.slider {
    width: 100%;
    height: $h;
    position: relative;
    overflow: hidden;
    color: #eee;
    box-shadow: 0 0 20px 0 grey;

    .arr {
        position: absolute;
        top: 113px;
        z-index: 999;
        color: black;
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        margin: 20px;
        border: 3px solid;
        border-radius: 100%;
        text-align: center;

        &:hover {
            color: grey;
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .dots {
        position: absolute;
        bottom: 0;
        z-index: 100;
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .dot {
            width: 15px;
            height: 15px;
            margin: 5px;
            border-radius: 100%;
            box-shadow: inset 0 0 2px 0 #250e26;
            cursor: pointer;

            &-cur {
                background-color: #fff;
            }
        }
    }

    .slide {
        position: relative;
        display: block;
        text-decoration: none;

        .slide-inner {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: $h;

            .img {
                flex: 1;
                img {
                    height: $h;
                    display: block;
                    margin: 0 auto;
                }
            }
            .text {
                position: relative;
                flex: 1;
                background-color: $main;
                height: $h;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    left: -175px;
                    background-color: $main;
                    height: 600px;
                    width: 600px;
                    transform: rotate(45deg);
                }

                .wrap {

                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    height: $h;
                    position: relative;
                    left: -80px;

                    .title {
                        color: $snow;
                        text-align: center;
                        padding: 30px;
                        font-size: 40px;
                    }

                    .desc {
                        text-align: center;
                        color: $snow;
                    }
                }
            }
        }
    }
}

.right-enter-active, .right-leave-active, .left-enter-active, .left-leave-active {
    transition: all ease 1.5s;
}

.right-enter, .left-leave-to {
    margin-left: -100%;
}

.right-enter-to, .right-leave, .left-enter-to, .left-leave {
    margin-left: 0;
}

.right-leave-to, .left-enter {
    margin-left: 100%;
}
