@import "var";
@import "mixin";
@import "fonts";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: RobotoRegular, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $main;

    #app {
        display: flex;
        flex-direction: column;
        padding-top: 130px;
        overflow: hidden;
        font-size: 18px;

        .main-block {
            padding-top: 50px;
        }

        .inner-wrapper, .withbanner-page {
            width: 80%;
            min-width: 1024px;
            margin: 0 auto;

            @media screen and (max-width: 1024px) {
                width: 100%;
                min-width: auto;
            }
        }

        .withbanner-page {
            display: flex;

            .content-block {
                flex-basis: 750px;
                flex-grow: 1;
                margin-right: 50px;
            }

            .banner {
                flex-basis: 294px;
                max-width: 294px;
                background-repeat: no-repeat;
                height: 500px;
                background-size: auto 500px;
                color: $snow;
                text-decoration: none;
                font-weight: bold;
                font-size: 45px;
                padding: 13px;

            }

            @media screen and (max-width: 950px){
                display: block;
                padding: 0;

                .content-block {
                    margin: 0;
                    word-break: break-all;
                }

                .banner{
                    display: none;
                }
            }

        }

        .mailto {
            color: $sky;
        }

        @media screen and (max-width: 850px) {
            padding-top: 20px;
        }

        .divide-head {
            margin-bottom: 40px;
            text-transform: uppercase;
            font-size: 30px;
        }

        .result-message {
            position: fixed;
            z-index: 999;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            margin: auto;
            height: 150px;
            width: 300px;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: rgba(0, 72, 197, .9);
            transition: all ease .5s;
        }

        .clearfix {
            clear: both;
        }

        .appear-enter, .appear-leave-to {
            opacity: 0;
        }

        .appear-enter-to, .appear-leave {
            opacity: 1; 
        }

        .devider {
            margin: 20px auto;
        }

    }
}
