@import "var";
@import "mixin";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $main;

    #app {
        display: flex;
        flex-direction: column;
        padding-top: 130px;
        overflow: hidden;
        font-size: 18px;

        .inner-wrapper {
            width: 70%;
            min-width: 1024px;
            margin: 0 auto;

            h3 {
                text-align: center;
                padding: 40px;
                text-transform: uppercase;
                font-size: 30px;
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
                min-width: auto;
            }
        }

        .mailto {
            color: $sky;
        }

        @media screen and (max-width: 850px) {
            padding-top: 20px;
        }
    }
}
