.sky {color: $sky !important;}
.l-sky {color: $l-sky !important;}
.d-sky {color: $d-sky !important;}
.brand {color: $brand !important;}
.l-brand {color: $l-brand !important;}
.d-brand {color: $d-brand !important;}
.lady {color: $lady !important;}
.l-lady {color: $l-lady !important;}
.d-lady {color: $d-lady !important;}
.sun {color: $sun !important;}
.l-sun {color: $l-sun !important;}
.d-sun {color: $d-sun !important;}
.grass {color: $grass !important;}
.l-grass {color: $l-grass !important;}
.d-grass {color: $d-grass !important;}
.main {color: $main !important;}
.l-main {color: $l-main !important;}
.d-main {color: $d-main !important;}
.flor {color: $flor !important;}
.l-flor {color: $l-flor !important;}
.d-flor {color: $d-flor !important;}
.cherry {color: $cherry !important;}
.l-cherry {color: $l-cherry !important;}
.d-cherry {color: $d-cherry !important;}

.bg-sky {background-color: $sky !important;}
.l-bg-sky {background-color: $l-sky !important;}
.d-bg-sky {background-color: $d-sky !important;}
.bg-brand {background-color: $brand !important;}
.l-bg-brand {background-color: $l-brand !important;}
.d-bg-brand {background-color: $d-brand !important;}
.bg-lady {background-color: $lady !important;}
.l-bg-lady {background-color: $l-lady !important;}
.d-bg-lady {background-color: $d-lady !important;}
.bg-sun {background-color: $sun !important;}
.l-bg-sun {background-color: $l-sun !important;}
.d-bg-sun {background-color: $d-sun !important;}
.bg-grass {background-color: $grass !important;}
.l-bg-grass {background-color: $l-grass !important;}
.d-bg-grass {background-color: $d-grass !important;}
.bg-main {background-color: $main !important;}
.l-bg-main {background-color: $l-main !important;}
.d-bg-main {background-color: $d-main !important;}
.bg-flor {background-color: $flor !important;}
.l-bg-flor {background-color: $l-flor !important;}
.d-bg-flor {background-color: $d-flor !important;}
.bg-cherry {background-color: $cherry !important;}
.l-bg-cherry {background-color: $l-cherry !important;}
.d-bg-cherry {background-color: $d-cherry !important;}

.left {float: left !important;}
.right {float: right !important;}
.center {margin-left: auto !important; margin-right: auto !important;}