.sky {color: $sky !important;}
.brand {color: $brand !important;}
.lady {color: $lady !important;}
.sun {color: $sun !important;}
.grass {color: $grass !important;}
.main {color: $main !important;}
.flor {color: $flor !important;}
.cherry {color: $cherry !important;}
.snow {color: $snow !important;}
.dust {color: $dust !important;}
.facebook {color: $facebook !important;}
.linkedin {color: $linkedin !important;}
.google {color: $google !important;}
.instagram {color: $instagram !important;}

.bg-sky {background-color: $sky !important;}
.bg-brand {background-color: $brand !important;}
.bg-lady {background-color: $lady !important;}
.bg-sun {background-color: $sun !important;}
.bg-grass {background-color: $grass !important;}
.bg-main {background-color: $main !important;}
.bg-flor {background-color: $flor !important;}
.bg-cherry {background-color: $cherry !important;}
.bg-snow {background-color: $snow !important;}
.bg-dust {background-color: $dust !important;}
.bg-facebook {background-color: $facebook !important;}
.bg-linkedin {background-color: $linkedin !important;}
.bg-google {background-color: $google !important;}
.bg-instagram {background-color: $instagram !important;}

.left {float: left !important;}
.right {float: right !important;}
.center {margin-left: auto !important; margin-right: auto !important;}