.sky {color: $sky !important; path {fill: $sky !important;}}
.brand {color: $brand !important; path {fill: $brand !important;}}
.lady {color: $lady !important; path {fill: $lady !important;}}
.sun {color: $sun !important; path {fill: $sun !important;}}
.grass {color: $grass !important; path {fill: $grass !important;}}
.main {color: $main !important; path {fill: $main !important;}}
.flor {color: $flor !important; path {fill: $flor !important;}}
.cherry {color: $cherry !important; path {fill: $cherry !important;}}
.snow {color: $snow !important; path {fill: $snow !important;}}
.dust {color: $dust !important; path {fill: $dust !important;}}
.facebook {color: $facebook !important; path {fill: $facebook !important;}}
.linkedin {color: $linkedin !important; path {fill: $linkedin !important;}}
.google {color: $google !important; path {fill: $google !important;}}
.instagram {color: $instagram !important; path {fill: $instagram !important;}}

.bg-sky {background-color: $sky !important;}
.bg-brand {background-color: $brand !important;}
.bg-lady {background-color: $lady !important;}
.bg-sun {background-color: $sun !important;}
.bg-grass {background-color: $grass !important;}
.bg-main {background-color: $main !important;}
.bg-flor {background-color: $flor !important;}
.bg-cherry {background-color: $cherry !important;}
.bg-snow {background-color: $snow !important;}
.bg-dust {background-color: $dust !important;}
.bg-facebook {background-color: $facebook !important;}
.bg-linkedin {background-color: $linkedin !important;}
.bg-google {background-color: $google !important;}
.bg-instagram {background-color: $instagram !important;}

.left {float: left !important;}
.right {float: right !important;}
.center {margin-left: auto !important; margin-right: auto !important;}
.pointer {cursor: pointer !important;}

.flexbox {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

@mixin scrollbar() {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #004d85;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #004d85;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #106db1;
    }
}