$snow: #fff;
$brand: #0048c5;
// $brand: cmyk(100%, 70%, 18%, 6%);
$sky: #4d5084;
$lady: #bf353b;
$sun: #fbb737;
$grass: #2ab42f;
$main: #353535;
$flor: #cc94f0;
$cherry: #ce5819;
$dust: #d3d3d3;

$facebook: #3b5998;
$linkedin: #0077b5;
$google: #dd4b39;
$instagram: #fcaf45;