$snow: #ebfff0;
$sky: #4d5084;
$lady: #bf353b;
$sun: #fbb737;
$grass: #2ab42f;
$main: #636363;
$flor: #cc94f0;

$l-snow: lighten($snow, 20%);
$l-sky: lighten($sky, 20%);
$l-lady: lighten($lady, 20%);
$l-sun: lighten($sun, 20%);
$l-grass: lighten($grass, 20%);
$l-main: lighten($main, 20%);
$l-flor: lighten($flor, 20%);

$d-snow: darken($snow, 20%);
$d-sky: darken($sky, 20%);
$d-lady: darken($lady, 20%);
$d-sun: darken($sun, 20%);
$d-grass: darken($grass, 20%);
$d-main: darken($main, 20%);
$d-flor: darken($flor, 20%);