@import "../var";
@import "../mixin";

.footer {
    position: relative;
    padding: 20px 0;
    min-height: 300px;
    width: 100vw;
    background: #282828;


    .footer-body {

        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .contacts {
            flex: 1;
            h2 {
                padding: 10px 0;
                color: $snow;
            }

            .logo {
                display: block;
                width: 250px;
                margin: 20px auto;
            }

            .addr {
                margin: 5px 0;
                i {
                    color: $brand;
                    margin: 0 10px 0 0;
                }
                span, a {
                    color: $snow;
                    font-size: 16px;
                    &.fa-facebook {
                        font-size: 35px;
                    }
                    &>img {
                        height: 35px;
                    }
                }
                a:hover {
                    color: #cd3c3c;
                }

                .partner>img {
                    height: 50px;
                    margin-right: 10px;
                }
            }
        }

        .header1 {
            color: $snow;
            margin: 25px 0 5px;
            font-size: 20px;
        }

        .links {
            text-align: center;

            h3 {
                color: $snow;
                padding: 10px;
            }
        }

        .logo {
            text-align: center;
        }

        .info {
            .addr {
                display: flex;
            }
        }
    }
    .footer-foot {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 14px;

        &>div {
            flex: 1;
            color: $snow;
        }

        .logo-brig {
            width: 100px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            &>img {
                width: 50px;
            }
            .title {
                width: 50px;
            }
        }
    }

    @media screen and (max-width: 760px) {

        padding-bottom: 100px;

        .footer-body {
            flex-direction: column;
            justify-content: center;

            .info {
                text-align: center;
                .addr {
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                }
            }
        }
        .footer-foot {
            flex-direction: column;
            &>div {
                padding: 3px;
            }
        }
    }
}