@import "../var";
@import "../mixin";

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: $footer;

    .footer-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: auto;

        .contacts {
            flex-basis: 310px;
            h2 {
                padding: 10px 0;
                color: $snow;
            }

            .logo {
                display: block;
                height: 70px;
                margin: 20px auto;
            }

            .addr {
                margin: 10px 0;
                i {
                    color: $brand;
                    margin: 0 15px 0 0;
                }
                span, a {
                    color: $snow;
                    font-size: 13px;
                    &.fa-facebook {
                        font-size: 34px;
                    }
                    &>img {
                        height: 35px;
                    }
                }
                a:hover {
                    color: #cd3c3c;
                }
                a.fa-facebook:hover {
                    color: $facebook;
                }

                .partner>img {
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }

        .header1 {
            color: $snow;
            margin: 25px 0 5px;
            font-size: 16px;
        }

        .links {
            text-align: center;

            h3 {
                color: $snow;
                padding: 10px;
            }
        }

        .logo {
            text-align: center;
        }

        .info {
            .addr {
                display: flex;
            }
        }
    }
    .footer-foot {
        position: relative;
        flex-basis: 60px;
        width: 100%;
        margin: auto;
        padding: 10px 0;

        background: $footer2;

        .inner-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-size: 14px;

            & > div {
                flex-basis: 350px;
                color: $snow;
            }

            .logo-brig {
                width: 100px;
                display: flex;
                align-items: center;
                & > img {
                    width: 50px;
                }
                .title {
                    width: 50px;
                }
            }
        }
    }

    .admin-gate {
        display: block;
        position: absolute;
        bottom: 15px;
        right: 35px;
        color: $brand;
        font-size: 29px;
    }

    @media screen and (max-width: 760px) {

        padding-bottom: 100px;

        .footer-body {
            flex-direction: column;
            justify-content: center;

            .info {
                text-align: center;
                .addr {
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                }
            }
        }
        .footer-foot {
            flex-direction: column;
            &>div {
                padding: 3px;
            }
        }
    }
}