@import "../var";
@import "../mixin";

.upheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 70px;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $l-snow;

    .logo, .address, .time, .phone {
        width: 25%;
    }

    .logo {
        img {
            height: 70px;
        }
    }

    .address, .time {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 30px;
        font-weight: bold;

        &>i {
            position: absolute;
            left: 0;
            font-size: 20px;
        }

        span {
            color: $sky;
            font-size: 16px;
        }
    }

    .phone {
        text-align: center;
        font-size: 30px;
        color: $sky;
    }

    @media screen and (max-width: 1024px) {
        width: 100vw;
    }

    @media screen and (max-width: 860px) {
        display: none;
    }
}

.header {
    position: fixed;
    top: 70px;
    z-index: 999;
    height: 50px;
    font-size: 20px;
    box-shadow: inset 0 0 20px -2px #000000;
    background-color: rgba(255,255,255,.8);

    .nav-panel {
        width: 100vw;

        .items-row {
            height: 50px;
            display: flex;
            justify-content: flex-end;
            padding: 0 20px;
            align-items: center;

            .nav-item {
                display: block;
                margin-left: 20px;
                color: $main;
                font-weight: 600;
                text-decoration: none;

                .after {
                    height: 3px;
                    width: 0;
                    background-color: $lady;
                    transition: all ease .3s;
                }

                &:hover {
                    .after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .nav-list {
        position: absolute;
        width: 150px;
        background-color: rgba(255,255,255,.8);
        text-align: center;
        padding: 5px;
        box-shadow: 0 0 5px 0 $main;

        .nav-item {
            padding: 5px;

            &>a {
                color: $main;
                text-decoration: none;
            }

            .after {
                height: 3px;
                width: 0;
                background-color: $lady;
                transition: all ease .3s;
            }

            &:hover {
                .after {
                    width: 100%;
                }
            }
        }
    }

    .logo{
        position: absolute;
        top: 0;
        background-color: rgba(82,200,82,.8);
        margin: 10px;
        padding: 5px;
        font-size: 0;
        transition: all ease .2s;
        img {
            height: 100px;
        }
    }

    @media screen and (max-width: 860px) {
        display: none;
    }
}

.header-mob {
    position: fixed;
    z-index: 9999999999999999999;
    top: 0;
    left: 0;
    display: none;

    .open-btn {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 5px;
        font-size: 40px;
    }

    .nav-panel {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
        background-color: $snow;

        .logo {
            display: block;
            text-align: center;
            padding: 20px;
            img {
                height: 70px;
            }
        }

        .nav-item, span {
            font-size: 30px;
            text-decoration: none;
        }

        .nav-item {
            color: $sky;
        }
    }

    @media screen and (max-width: 860px) {
        display: flex;
    }

    @media screen and (max-width: 450px) {
        display: flex;
    }
}
